body {
	text-align: center;
    background: linear-gradient(to bottom right, white, #DEF4F9
);
	
	font-family: 'Trebuchet MS', 'sans-serif';
	font-size: 200;
}

h1 {
	text-align: center;
	font-size: 200;
	color: black;
}

h2 {
	text-align: center;
	font-size: 200;
	color: black;
}
